<p id="notice"><%= notice %></p>

<p>
  <strong>Iduser:</strong>
  <%= @lobbymessage.iduser %>
</p>

<p>
  <strong>Messagecontent:</strong>
  <%= @lobbymessage.messagecontent %>
</p>

<%= link_to 'Edit', edit_lobbymessage_path(@lobbymessage) %> |
<%= link_to 'Back', lobbymessages_path %>
