<p id="notice"><%= notice %></p>
<body>
<img src="https://raw.githubusercontent.com/UNArqui17i-D/FrontEnd/master/images/background.jpg" height="100%" width="100%" />
</body>

<p>
  <strong>Iduser:</strong>
  <%= @lobbymessage.iduser %>
</p>

<p>
  <strong>Messagecontent:</strong>
  <%= @lobbymessage.messagecontent %>
</p>

<%= link_to 'Edit', edit_lobbymessage_path(@lobbymessage) %> |
<%= link_to 'Back', lobbymessages_path %>
