<%= form_for(globalmessage) do |f| %>
  <% if globalmessage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(globalmessage.errors.count, "error") %> prohibited this globalmessage from being saved:</h2>

      <ul>
      <% globalmessage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
