<p id="notice"><%= notice %></p>

<h1>Globalmessages</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @globalmessages.each do |globalmessage| %>
      <tr>
        <td><%= globalmessage.username %></td>
        <td><%= globalmessage.content %></td>
        <td><%= link_to 'Show', globalmessage %></td>
        <td><%= link_to 'Edit', edit_globalmessage_path(globalmessage) %></td>
        <td><%= link_to 'Destroy', globalmessage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Globalmessage', new_globalmessage_path %>
