<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @globalmessage.username %>
</p>

<p>
  <strong>Content:</strong>
  <%= @globalmessage.content %>
</p>

<%= link_to 'Edit', edit_globalmessage_path(@globalmessage) %> |
<%= link_to 'Back', globalmessages_path %>
